//combat.pug
.card
  .row
    .col-4
      .card
        | 18
    .col-4
      .card
        | -1
    .col-4
      .card
        | #{locals.game.races[locals.character.race].speed}
  .card
    | Current Hit Points
  .card
    | Temporary Hit Points
  .row
    .col-6
      .card
        | Hit Dice
    .col-6
      .card
        div
          | Successes
          i.fa.fa-circle-o
          i.fa.fa-circle-o
          i.fa.fa-circle-o
        div
          | Failures
          i.fa.fa-circle-o
          i.fa.fa-circle-o
          i.fa.fa-circle-o
        | Death Saves