//combat.pug
.card
  .d-flex
    .card
      | 18
    .card
      | -1
    .card
      | 25 feet
  .card
    | Current Hit Points
  .card
    | Temporary Hit Points
  .d-flex
    .card
      | Hit Dice
    .card
      | Death Saves