//combat.pug
- var my_armor = locals.game.armor[locals.character.armor]
- if ('dexterity' in my_armor)
  - var ac = my_armor.ac + Math.min(my_armor.dexterity, locals.game.modifiers[locals.character.stats['Dexterity']])
- else
  - var ac = my_armor.ac

- if ('strength' in my_armor && my_armor.strength > locals.character.stats['Strength'])
  - var speed = locals.game.races[locals.character.race].speed - 10
- else
  - var speed = locals.game.races[locals.character.race].speed

- if ('shield' in locals.character)
  - var ac = ac + locals.game.armor[locals.character.shield].ac

.card
  .row
    .col-4
      .card
        | #{ac}
    .col-4
      .card
        | -1
    .col-4
      .card
        | #{speed}
  .card
    | Current Hit Points
  .card
    | Temporary Hit Points
  .row
    .col-6
      .card
        | Hit Dice
    .col-6
      .card
        div
          | Successes
          i.fa.fa-circle-o
          i.fa.fa-circle-o
          i.fa.fa-circle-o
        div
          | Failures
          i.fa.fa-circle-o
          i.fa.fa-circle-o
          i.fa.fa-circle-o
        | Death Saves